rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profile-pictures/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    match /resources/{resourceId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == request.auth.uid;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
